
:host /deep/ .ng-select-container  {            
    min-height: 20px;
    max-height: 20px;
    border-radius: 0;
    width: 200px;
}

:host /deep/ .ng-dropdown-panel {
    .ng-dropdown-panel-items {
        .ng-option {
            &.ng-option-selected {
                color: #333;
                background-color: red;
                .ng-option-label {
                    font-weight: 600;
                }
            }
            &.ng-option-marked {
                background-color: #087aeb;
                color: #333;
            }
        }
    }
}