.ng-select.custom {
    border:0px;
    min-height: 0px;
    border-radius: 0;
}
.ng-select.custom .ng-select-container  {            
    min-height: 0px;
    border-radius: 0;
    background: blue;
}

:host /deep/ .ng-select-container  {            
    min-height: 0px;
    max-height: 0px;
    border-radius: 0;
    width: 200px;
    // .ng-value-container {
    //     height: 5px;
    //     .ng-input {
    //        height: 5px;
        
    //     }
    // }
}