/* You can add global styles to this file, and also import other style files */

 @import "~@swimlane/ngx-datatable/release/themes/material.css";
 @import "~@swimlane/ngx-datatable/release/themes/bootstrap.css";
 @import "~@swimlane/ngx-datatable/release/themes/dark.css";
 @import "~@swimlane/ngx-datatable/release/assets/icons.css";
 @import "~@ng-select/ng-select/themes/default.theme.css";
 @import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

//  .ngx-datatable {
//     overflow: visible;
//   }
//  .dropdown-toggle::after{
//     content:initial
//  }
//  .datatable-body-cell {
//     overflow-x: visible !important;
//     overflow-y: visible !important;
//  }
//  .my-custom-cell {
//     //background: red;
//     overflow-x: visible !important;
//  }
 .app-directory-view {
    overflow: visible;
    width: 500;
    height: 500;
  }

//  .ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-marked  {
//     background-color: rgba(0, 0, 0, .04);
//  }
 
.ng-dropdown-panel {
  .ng-dropdown-panel-items {
      .ng-option {
          .fa {
            color: white;
          }
          &.ng-option-marked {
              background-color: rgba(0, 0, 0, .04);
              .fa {
                color: black;
              }
          }
          &.ng-option-selected{
            background-color:rgba(0, 0, 0, .04);
          }
      }
  }
}
.mat-option {
  .fa {
    color: white;
  }
  &.mat-active :hover {
          .fa {
            color:black;
          }
  }
  &.mat-active {
    .fa {
      color:black;
    }
  }
  &.mat-selected {
    .fa {
      color:white;
    }
  }
}
.mat-option :hover{
  .fa {
    color:black;
  }
}
