<ngx-datatable class="material" [rows]="queueList" [columnMode]="'force'" [headerHeight]="40" [footerHeight]="40" [rowHeight]="'60'"
  [limit]="5">

  <ngx-datatable-column>
    <ng-template let-column="column" ngx-datatable-header-template>
      remoteCallId
    </ng-template>
    <ng-template let-row="row" ngx-datatable-cell-template>
      {{row.remoteCallId}}
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column>
    <ng-template let-column="column" ngx-datatable-header-template>
      calledName
    </ng-template>
    <ng-template let-row="row" ngx-datatable-cell-template>
      <div ngbDropdown class="d-inline-block">
        <button class="btn-link" ngbDropdownToggle>{{row.calledName}}</button>
        <div class="dropdown-menu" role="menu">
          <div *ngFor="let item of getStatus1()">
            <button class="dropdown-item">{{ item.id }}-{{ item.val }}</button>
          </div>
          <div class="dropdown-divider"></div>
          <button class="dropdown-item">Custom activity...</button>
          <button class="dropdown-item">Future presence...</button>
          <button class="dropdown-item">No end time</button>
        </div>
      </div>
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column>
    <ng-template let-column="column" ngx-datatable-header-template>
      stateName
    </ng-template>
    <ng-template let-row="row" ngx-datatable-cell-template>
      <!-- {{row.stateName}} -->
      <!-- <div class="btn-group">
        <button class="btn btn-link dropdown-toggle" data-toggle="dropdown">{{row.stateName}}</button>
        <div class="dropdown-menu" role="menu">
          <div *ngFor="let item of getStatus1()">
            <button class="dropdown-item">{{ item.id }}-{{ item.val }}</button>
          </div>
          <div class="dropdown-divider"></div>
          <button class="dropdown-item">Custom activity...</button>
          <button class="dropdown-item">Future presence...</button>
          <button class="dropdown-item">No end time</button> 
        </div>
      </div> -->
      <ng-select style="cursor: pointer" [items]="status_pair" bindLabel="val" appendTo="body" [clearable]="false" placeholder="Select city"
        [(ngModel)]="value">
      </ng-select>
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column name="isRecall" [cellClass]="'my-custom-cell'">
    <ng-template ngx-datatable-cell-template let-value="value">
      <!-- {{value}} -->
      <!-- <ng-select style=" overflow: visible;" [items]="status_pair"
                   bindLabel="val"
                   placeholder="Select city"
                   [(ngModel)]="value">
        </ng-select> -->
      <div style="display:flex;align-items:flex-start; justify-content:flex-start;">
          <a style="cursor: pointer;position: absolute" (click)="onDownload(row)">
              <i class="fa fa-search" data-toggle="tooltip" data-placement="top" title="download file."></i>
           </a>
      <mi-dropdown style="position:absolute;margin-left: 20px">loading..</mi-dropdown>
      <mi-dropdown style="position:absolute;;margin-left: 40px">loading..</mi-dropdown>
        


      </div>
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column>
    <ng-template let-column="column" ngx-datatable-header-template>
      Download
    </ng-template>
    <ng-template let-row="row" ngx-datatable-cell-template>
      <a style="cursor: pointer;" (click)="onDownload($event,op3)">
        <i class="fa fa-download" data-toggle="tooltip" data-placement="top" title="download file."></i>
      </a>
    </ng-template>
  </ngx-datatable-column>

</ngx-datatable>
<p-overlayPanel #op3>
  <div>
    <input #popupInput type="text" placeholder="Name" autofocus="true" >
    <!-- <div>
      <input type="text" placeholder="Name">
    </div>
    <div>
      <input type="text" placeholder="Name">
    </div>
    <div>
      <input type="text" placeholder="Name">
    </div>
    <div>
      <input type="text" placeholder="Name" >
    </div> -->
    <ul >
      <li> test1 </li>
      <li> test1 </li>
      <li> test1 </li>
      <li> test1 </li>
      <li> test1 </li>
    </ul>

    <!-- <ng-select #select tabindex="0" style=" overflow: visible;" [items]="status_pair" bindLabel="val" placeholder="Select city"
      [(ngModel)]="value">
    </ng-select> -->
  </div>
</p-overlayPanel>