
<ngx-datatable #myDatatable class="material" [rows]="queueList" [columnMode]="'force'" [headerHeight]="40" [footerHeight]="40"
  [rowHeight]="'60'" [limit]="5"  (activate)="onActivate($event)" (select)="onSelect($event)">

  <ngx-datatable-column>
    <ng-template let-column="column" ngx-datatable-header-template>
      remoteCallId
    </ng-template>
    <ng-template let-row="row" ngx-datatable-cell-template>
      {{row.remoteCallId}}
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column>
    <ng-template let-column="column" ngx-datatable-header-template>
      calledName
    </ng-template>
    <ng-template let-row="row" ngx-datatable-cell-template>
      <div ngbDropdown class="d-inline-block">
        <button class="btn-link" ngbDropdownToggle>{{row.calledName}}</button>
        <div class="dropdown-menu" role="menu">
          <div *ngFor="let item of getStatus1()">
            <button class="dropdown-item">{{ item.id }}-{{ item.val }}</button>
          </div>
          <div class="dropdown-divider"></div>
          <button class="dropdown-item">Custom activity...</button>
          <button class="dropdown-item">Future presence...</button>
          <button class="dropdown-item">No end time</button>
        </div>
      </div>
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column>
    <ng-template let-column="column" ngx-datatable-header-template>
      stateName
    </ng-template>
    <ng-template let-row="row" ngx-datatable-cell-template>
      <!-- {{row.stateName}} -->
      <!-- <div class="btn-group">
        <button class="btn btn-link dropdown-toggle" data-toggle="dropdown">{{row.stateName}}</button>
        <div class="dropdown-menu" role="menu">
          <div *ngFor="let item of getStatus1()">
            <button class="dropdown-item">{{ item.id }}-{{ item.val }}</button>
          </div>
          <div class="dropdown-divider"></div>
          <button class="dropdown-item">Custom activity...</button>
          <button class="dropdown-item">Future presence...</button>
          <button class="dropdown-item">No end time</button> 
        </div>
      </div> -->
      <ng-select style="cursor: pointer" [items]="status_pair" bindLabel="val" appendTo="body"
       [clearable]="false" placeholder="Select city" [hideSelected]="true"
       [searchable]="false"   [(ngModel)]="value">
      </ng-select>
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column>
    <ng-template let-column="column" ngx-datatable-header-template>
      calledName
    </ng-template>
    <ng-template let-row="row" ngx-datatable-cell-template>

        <mi-dropdown [rowId]="row.remoteCallId" [itmesList]= "status_pair" style="cursor: pointer;width:20px" (openState)="openEvent($event)">loading..</mi-dropdown>
        
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column>
    <ng-template let-column="column" ngx-datatable-header-template>
      Download
    </ng-template>
    <ng-template let-row="row" ngx-datatable-cell-template>
      <!-- <a style="cursor: pointer;" (click)="onDownload($event,op3)">
        <i class="fa fa-user" data-toggle="tooltip" data-placement="top" title="download file."></i>
      </a> -->
      <mi-select-am-select [rowId]="row.remoteCallId" [itmesList]= "status_pair"  
      (openState)="openEvent($event)"></mi-select-am-select>
      
    </ng-template>
  </ngx-datatable-column>

</ngx-datatable>
<div>
  slectOpen:{{isSelectOpen}}
</div>
<p-overlayPanel appendTo="body" #op3>
  <div>
    <!-- <input #popupInput type="text" placeholder="Name" autofocus="true" >     -->

    <!-- <ng-select #select tabindex="0" style=" overflow: visible;" [items]="status_pair" bindLabel="val" placeholder="Select city"
      [(ngModel)]="value" [isOpen]="true">
    </ng-select> -->

    <ngx-datatable #popupInput class="material" [rows]="status_pair" [headerHeight]="0" [footerHeight]="0" [rowHeight]="'40'"
      [limit]="5">
      <ngx-datatable-column style="width:25px">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row.id}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column>
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row.val}}
        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>
  </div>
</p-overlayPanel>